# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Variáveis de Ambiente (Segurança)
.env

# Python (Ambiente Virtual)
venv/
env/
ENV/
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# OS
.DS_Store