{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>

    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>

    <main class="checkout">

        <section class="checkout-card">

            <h1>Checkout</h1>

            <p>
                Confira seu pedido antes de confirmar.
            </p>

            <hr>

            <!-- ========================= -->
            <!-- ORDER SUMMARY             -->
            <!-- ========================= -->

            <section>

                <h2>Resumo do pedido</h2>

                <div id="order-summary"></div>

                <div class="order-total">
                    <span>Total</span>
                    <strong id="cart-total">R$ 0,00</strong>
                </div>

            </section>

            <hr>

            <!-- ========================= -->
            <!-- DELIVERY ADDRESS          -->
            <!-- ========================= -->

            <section>

                <h2>Endereço de entrega</h2>

                <div id="address-list">

                </div>

                <button
                    id="new-address-button"
                    type="button">
                    Adicionar novo endereço
                </button>

                <form id="address-form" hidden>

                    <label>
                        CEP
                        <input type="number" id="cep" placeholder="Preencha apenas números">
                    </label>

                    <label>
                        Rua
                        <input type="text" id="street">
                    </label>

                    <label>
                        Número
                        <input type="text" id="number">
                    </label>

                    <label>
                        Complemento
                        <input type="text" id="complement" placeholder="Apto, Bloco, Referência etc">
                    </label>

                    <label>
                        Bairro
                        <input type="text" id="neighborhood">
                    </label>

                    <label>
                        Cidade
                        <input type="text" id="city">
                    </label>

                    <label>
                        Estado
                        <input type="text" id="state" maxlength="2" pattern="[A-Za-z]{2}"  placeholder="UF" style="text-transform: uppercase;">
                    </label>

                    <label>
                        Tipo
                        <select id="label">
                            <option value="CASA">Casa</option>
                            <option value="TRABALHO">Trabalho</option>
                        </select>
                    </label>

                    <button type="submit">
                        Salvar endereço
                    </button>

                </form>

            </section>

            <hr>

            <!-- ========================= -->
            <!-- ACTIONS                   -->
            <!-- ========================= -->

            <section class="checkout-actions">

                <a
                    href="/"
                    class="secondary-button">
                    Voltar ao cardápio
                </a>

                <button id="confirm-order">
                    Confirmar pedido
                </button>

            </section>

        </section>

    </main>

    <script src="{% static 'js/orders/cart.js' %}"></script>
    <script src="{% static 'js/orders/apiCalls.js' %}"></script>
    <script src="{% static 'js/orders/script.js' %}"></script>
</body>
</html>