{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<section id="login">
    <div id="imagem">
    </div>
    <div id="formulario">
        <h1>Login</h1>
        <p>Faça login para acessar sua conta e poder fazer o seu pedido.</p>
        <form autocomplete="on" id="login-form">
            {% csrf_token %}
            <p class="campo">
                <span class="material-symbols-outlined">person</span>
                <input type="username" name="user" id="iuser" placeholder="Nome de usuário" autocomplete="username" required>
                <label for="iuser">Usuário</label>
            </p>

            <p class="campo">
                <span class="material-symbols-outlined">key</span>
                <input type="password" name="password" id="ipassword" placeholder="Sua senha" autocomplete="current-password" required minlength="8">
                <label for="ipassword">Senha</label>
            </p>

            <p>
                <input type="submit" value="Entrar">
                <span class="material-symbols-outlined">mail</span></a>
            </p>
            <p id="login-error" style="color: red;"></p>
            <p>
                Não tem uma conta?
                <a href="{% url 'register' %}">Cadastre-se</a>
            </p>
        </form>
    </div>
</section>
<script src="{% static 'menu/js/login.js' %}"></script>
{% endblock %}