{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<section id="register">
    <div id="image">
    </div>
    <div id="formulario">
        <h1>Cadastro</h1>
        <p>Crie sua conta para começar a pedir seus cookies</p>

        <form id="register-form" autocomplete="on">
            {% csrf_token %}
            <p class="campo">
                <label for="iusername">Nome</label>
                <input type="text" name="username" id="iusername" placeholder="Username" required>
            </p>

            <p class="campo">
                <label for="iemail">Email</label>
                <input type="email" name="email" id="iemail" placeholder="Your email" autocomplete="email" required>
            </p>

            <p class="campo">
                <label for="iphone">Celular</label>
                <input type="tel" name="phone_number" id="iphone_number" placeholder="21999993333" autocomplete="tel" required>
            </p>

            <p class="campo">
                <label for="ipassword">Senha</label>
                <input type="password" name="password" id="ipassword" placeholder="Your password" required minlength="8">
            </p>

            <p class="campo">
                <label for="iconfirm_password">Confirme a senha</label>
                <input type="password" name="confirm_password" id="iconfirm_password" placeholder="Confirm password" required minlength="8">
            </p>

            <p>
                <input type="submit" value="Cadastrar">
            </p>
            <p id="register-error" style="color: red;"></p>
            <p>
                Já possui uma conta?
                <a href="{% url 'login' %}" class="botao">
                    <span class="material-symbols-outlined">Login</span>
                </a>
            </p>
        </form>
    </div>
</section>
<script type="module" src="{% static 'js/users/register.js' %}"></script>
{% endblock %}